
body {
    width: 210mm;
}

table {
    width: 95%;
    border-collapse: collapse;
    margin: 10;
    page-break-inside: avoid;
}

td, th {
    border: 1px solid #000000;
    padding: 10px;
}

.title {
    background-color: #000000;
    color: #ffffff;
}

.army_table {
}

.detachment_table {
}

.unit_table {
}

.army {
}

.detachment {
}

.squad {
    border: 2px solid #000000;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
