/* Stylesheet for army lists.  It's also used for the index page. */

/* Make the whole thing match the width of an A4 page for printing. */
body {
    width: 210mm;
}

/* Make tables fit the page, and apply a basic visual style. */
table {
    width: 95%;
    border-collapse: collapse;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    page-break-inside: avoid;
}
td, th {
    padding: 4px;
}
.title {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    font-variant: small-caps;
}

/* Ensure squad cards don't get split when printing, and add a border to group
   their contents. */
.squad, .detachment_header, .army_header {
    border: 2px solid #000000;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    page-break-inside: avoid;
}

/* The name of an ability should stand out. */
.ability_tag {
    font-weight: bold;
}


