/* Stylesheet for army lists.  It's also used for the index page. */

/* Make the whole thing match the width of an A4 page for printing. */
body {
    width: 210mm;
}

/* Make tables fit the page, and apply a basic visual style. */
table {
    width: 95%;
    border-collapse: collapse;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    page-break-inside: avoid;
}
td, th {
    padding: 4px;
}
.stat-centre {
    text-align: center;
}
.stat-buffed {
    text-align: center;
    color: #33ff33;
    font-weight: bold;
}
.stat-left {
    text-align: left;
}
.stat-right {
    text-align: right;
}
.title {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    font-variant: small-caps;
}
.title a {
    color: #ffffff;
}
.title a:visited {
    color: #999999;
}

/* Ensure squad cards don't get split when printing, and add a border to group
   their contents. */
.squad, .detachment_header, .army_header {
    border: 2px solid #000000;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    page-break-inside: avoid;
    position: relative;
}

.squad {
    margin-top: 50px;
}

.squad_portrait {
    display: block;
    border: 2px solid #000000;
    background-color: #ffffff;
    width:115px;
    height:110px;
    right:10px;
    top:-30px;
    position: absolute;
    background-image: url("../images/default.png");
}

.unit_table {
    width: 80%;
    margin-left: 20px;
}

/* The name of an ability should stand out. */
.ability_tag {
    font-weight: bold;
}

/* The notes on a squad. */
.notes {
    padding: 16px;
    width: 70%;
    margin: auto;
    margin-left: 20px;
    text-align:center;
    font-style: italic;
}

/* The inline costs on a squad. */
.inline_costs {
    padding: 4px;
    width: 95%;
    margin: auto;
}
